* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
            background-color: #fffdfa;
            color: #ff883e;
            text-align: center;
            padding: 1em 0;
        }

nav {
    background-color: #ffbd7a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

nav a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover,
nav a:focus {
    background-color: #f2f2f2;
    color: #333;
    border-radius: 5px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#description {
    text-align: center;
    margin-bottom: 30px;
}

#browse-by-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff9e4e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); }

button:hover {
    background-color: #ffffff;
    color: #ff883e;
}

footer {
    background-color: #ffb833;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    margin: 1em;
}

.footer-section h5 {
    margin-bottom: 0.5em;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #fffdfa;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin-bottom: 0.5em;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        width: 100%;
        margin: 1em 0;
    }
}
.site-footer, a{
    text-decoration: none;
    color: white;
}
